
.alike {
    background-color: #f2f2f2;
}

.alike {
    .card {
        background-image: url('/img/blue-splash.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top;
    }
}

.mainProduct {

    .card-body {
        img {
            opacity: 0;
            transition: opacity .10s ease-in-out;
        }

        img.active {
            opacity: 1;
        }

    }
}

.product-section-images {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    margin-top: 20px;

    .product-section-thumbnail {

        img {
            width: 100%;
            height: 100%;
            border: 2px solid lightgrey;
            cursor: pointer;

            &:hover {
                border: 2px solid black;
            }
        }

        display: flex;
        align-items: center;
        border: 1px solid lightgray;
        min-height: 10px;
        // min-width: 20px;
        cursor: pointer;

        &:hover {
            border: 1px solid #979797;
        }
    }
}

.product-section-images {
    .selected {
        border: 2px solid black;
    }
}

